{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.overview }}
</p>

<p>
    <!-- <form action="/rate" method="POST"> -->
    <form action="/movies/{{ movie.movie_id }}/ratings" method="POST">

    Rate {{ movie.title }}:
        <select name="rating" id="rating">
            <option value = "0">0</option>
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
            <option value = "4">4</option>
            <option value = "5">5</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    
</p>

<img src="{{ movie.poster_path }}">
{% endblock %}